PORT=5000
SMTP_HOST=smtp.gmail.com // mail
SMTP_PORT=587
SMTP_USER=USER@GMAIL.COM
SMTP_PASS=GENERATE_APP_PASSWORD
TO_EMAIL=USER@GMAIL.COM
CLIENT_URL=PORT_FROND-(http://localhost:5173)
OPENROUTER_API_KEY=https://openrouter.ai/?ref=blogs.novita.ai